<app-header-form title=""></app-header-form>

<form [formGroup]="form" (ngSubmit)="nextClick()">
  <ion-item [ngClass]="{ error: form.controls.password.invalid && form.controls.password.touched }">
    <ion-input type="password" inputmode="text" formControlName="password" placeholder="Configurar Senha"></ion-input>
  </ion-item>

  <p *ngIf="form.controls.password.errors?.required && form.controls.password.touched" class="danger">Senha é obrigatória</p>
  <p *ngIf="form.controls.password.errors?.minlength && form.controls.password.touched" class="danger">Senha deve conter pelo menos 8 caracteres</p>
  <p *ngIf="form.controls.password.errors?.maxlength && form.controls.password.touched" class="danger">Senha deve conter no máximo 20 caracteres</p>
  <p *ngIf="form.controls.password.errors?.passwordInvalid && form.controls.password.touched" class="danger">Senha deve ter pelo menos uma letra maiúscula ou número</p>

  <p class="rules">Mínimo de 8 caracteres. Combine pelo menos dois tipos de caracteres: letras maiúsculas, letras minúsculas e números.</p>

  <ion-item [ngClass]="{ error: form.controls.password2.touched && (form.controls.password2.invalid || form.errors?.passwordsDontMatch) }">
    <ion-input type="password" inputmode="text" formControlName="password2" placeholder="Confirme sua senha"></ion-input>
  </ion-item>
  <p *ngIf="form.controls.password2.errors?.required && form.controls.password2.touched" class="danger">Confirmação de senha é obrigatória</p>
  <p *ngIf="form.errors?.passwordsDontMatch && form.controls.password2.touched" class="danger">As senhas não conferem</p>

  <ion-button type="submit" expand="block" color="primary" [disabled]="!form.valid">{{ recovery ? "Redefinir senha" : "Criar conta" }}</ion-button>
</form>
