.content {
  padding: 1em;
  .item {
    border-bottom: 1px solid var(--ion-color-light);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    &.primary {
      p {
        color: var(--ion-color-primary);
      }
    }
    p {
      font-size: 0.8em;
      font-weight: normal;
      color: var(--ion-color-medium);
      line-height: 1.5em;
    }
    h1 {
      font-weight: bold;
      font-size: 0.9em;
      line-height: 1.5em;
    }
    &:last-of-type {
      border: none;
    }
  }
  ion-button {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
