ion-content {
  &.pp {
    --padding-bottom: 4em;
  }
  &.web {
    --padding-bottom: 2em;
    .container {
      margin-left: 10%;
      margin-right: 10%;
      display: flex;
      align-items: flex-start;
    }

    .content-web-orbitta-club {
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 3em !important;
    }

    section {
      margin: 0;
    }

    section.progress {
      min-width: 70%;
      max-width: 70%;
    }

    section.menu {
      background-color: white;
      border-radius: 8px;
      margin-right: 2em;
      min-width: 22em;
      max-width: 22em;
    }

    .container-rebuy {
      width: 100%;
    }

    section.completed {
      margin-top: 0 !important;
      .item {
        p {
          font-size: 1em !important;
        }

        ion-button {
          font-size: 1em !important;
          min-width: 8em;
        }
      }
    }
  }

  section {
    margin-bottom: 1em;
    margin-top: 0 !important;
    h1.title {
      font-size: 1.4em;
      font-weight: bold;
    }

    p.description {
      font-size: 0.8em;
      color: var(--ion-color-medium);
      margin-bottom: 1em;
    }

    .order-in-progress {
      background-color: var(--ion-color-primary);
      border-radius: 8px;
      padding: 0.5em;
      margin-bottom: 1em;

      h1,
      p {
        color: white;
      }

      h1 {
        font-size: 0.8em;
        font-weight: bold;
      }

      p {
        font-size: 0.7em;
        font-weight: normal;
      }
    }

    &.completed {
      margin-top: 2em;

      .item {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1p;

        .left {
          max-width: 96%;

          .title {
            font-weight: normal;
            font-size: 0.8em;
            margin-bottom: 4px;
            color: var(--ion-color-medium);
          }

          .description-order {
            font-weight: bold;
            font-size: 0.8em;

            span {
              font-weight: bold;
              color: var(--ion-color-success);

              &.danger {
                color: var(--ion-color-danger) !important;
              }
            }

            &.longWord {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              position: relative;
            }
          }
        }

        &.border {
          border-bottom: 1px solid var(--ion-color-light);
        }

        ion-button {
          min-height: 2.5em;
          border-radius: 50%;
          --border-radius: 12px;
          font-weight: bold;
          font-size: 0.7em;
        }
      }
    }
  }
}
