<ion-content [ngClass]="{web: shared.web}">
  <app-container-web>
    <img class="enfeite" src="assets/images/walkthrough/enfeite.png" *ngIf="!shared.web" />
    <div class="center form" *ngIf="step === 1">
      <h1>Esqueci minha senha</h1>
      <form [formGroup]="form" (ngSubmit)="sendVerificationCode()">
        <ion-item [ngClass]="{ error: form.controls.cpfCnpj.invalid && form.controls.cpfCnpj.touched }">
          <ion-input type="tel" inputmode="tel" formControlName="cpfCnpj" [maskito]="cpfCnpjMask" [maskitoElement]="maskPredicate" placeholder="Insira seu CPF / CNPJ"></ion-input>
        </ion-item>
        <p *ngIf="form.controls.cpfCnpj.errors?.required && form.controls.cpfCnpj.touched" class="danger">CPF ou CNPJ é obrigatório</p>
        <p *ngIf="form.controls.cpfCnpj.errors?.invalidCPF && form.controls.cpfCnpj.touched" class="danger">CPF inválido</p>
        <p *ngIf="form.controls.cpfCnpj.errors?.invalidCNPJ && form.controls.cpfCnpj.touched" class="danger">CNPJ inválido</p>
        <p class="danger" *ngIf="errorMessage">{{errorMessage}}</p>
        <div class="container-buttons">
          <ion-button color="primary" fill="solid" expand="block" type="submit"> Enviar código de redefinição </ion-button>
          <ion-button color="dark" fill="outline" expand="block" (click)="back()" class="btn-back">Voltar</ion-button>
        </div>
      </form>
    </div>

    <div class="center form" *ngIf="step === 2 && cpfCnpj">
      <app-confirmation [recovery]="true" [waitTime]="waitTime" (next)="next($event)" [cpfCnpj]="cpfCnpj" [phoneMask]="phoneMask"></app-confirmation>
      <ion-button fill="outline" expand="block" (click)="back()" color="dark" class="btn-back">Voltar</ion-button>
    </div>

    <div class="center form" *ngIf="step === 3 && cpfCnpj && code">
      <h1>Redefinir senha</h1>
      <app-password [recovery]="true" [code]="code" [username]="cpfCnpj"></app-password>
    </div>
  </app-container-web>
</ion-content>
