ion-tabs {
  --background: white;

  ion-tab-bar {
    --background: white;
    height: 78px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    ion-tab-button {
      .mark {
        width: 6px;
        height: 6px;
        background-color: var(--ion-color-primary);
        border-radius: 50%;
        top: 10px;
        right: 21px;
        position: absolute;
      }
      img {
        width: 26px;
        margin-bottom: 9px;
      }
      ion-label {
        line-height: 1.1em;
        // font-weight: 600;
      }
    }
    ion-tab-button:not(.tab-selected) {
      --color-selected: var(--color);
    }
    ion-tab-button.tab-selected {
      --color-selected: var(--ion-color-primary);
      border-top: 3px solid var(--ion-color-primary);
    }
    ion-tab-button[tab="pp"] {
      img {
        margin-top: 8px;
        margin-bottom: 5px;
      }
    }
  }
}
