ion-content {
  &.web {
    .fixed-period {
      ion-button {
        width: calc(100% - 4px);
      }
    }
    h1.title {
      font-size: 1.5em;
      font-weight: bolder;
      margin-bottom: 0.5em;
      margin-top: 5px;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .container {
      margin-left: 20%;
      margin-right: 20%;
      background-color: white;
      padding-top: 1em;
    }
  }
  ion-datetime-button {
    width: 100%;
  }

  section {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    h1 {
      font-size: 0.9em;
      font-weight: bold;
      color: var(--ion-color-dark);
    }
  }

  section.fixed-period,
  section.specific-period {
    ion-grid {
      padding: 0;

      ion-row {
        ion-col {
          padding: 0;

          ion-button {
            min-height: min-content;
            min-width: 4em;
            background-color: white;
          }
        }
      }
    }
  }

  section.content {
    .item {
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
          display: flex;

          img {
            margin-right: 5px;
          }

          // ion-icon {
          //   font-size: 1em;
          //   margin-right: 0.5em;
          //   color: var(--ion-color-primary);
          // }

          p.title {
            font-size: 0.9em;
            font-weight: bold;
          }
        }

        p.points {
          font-weight: bold;
          font-size: 0.9em;
          color: var(--ion-color-primary);
        }
      }

      .container-bottom {
        min-height: 5em;
        margin-left: 5px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: flex;
        align-items: center;

        aside {
          // border-left: 3px solid var(--ion-color-primary);
          border-radius: 12px;
          margin-right: 1em;
          width: 3px;
          min-height: 5em;
          background-color: var(--ion-color-primary);
        }

        .bottom {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          p.description {
            font-size: 0.8em;
            font-weight: 400;
            color: var(--ion-color-medium);
            vertical-align: center;
          }
        }
      }
    }
  }
}
