.container {
  margin-top: 1em;
  text-align: center;

  h1 {
    font-family: Gotham;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    font-size: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    text-align: center;
    color: var(--ion-color-dark);
  }
  p {
    font-size: 0.8em;
    margin-bottom: 16px;
    text-align: center;
    font-weight: normal;
    color: var(--ion-color-dark);
  }

  &.bigger {
    margin-top: 0.5em;
    h1 {
      font-size: 1.2em;
      font-weight: bolder;
    }
  }
  &.web {
    margin-top: 0 !important;
    h1 {
      font-size: 1.4em;
      margin-top: 0 !important;
    }
  }
}
