ion-content {
  h1.title {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0em;
    margin-bottom: 0.9em;
  }
  .item {
    border-bottom: 1px solid var(--ion-color-light);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    h1 {
      font-size: 0.9em;
      font-weight: 700;
      letter-spacing: 0em;
      color: var(--ion-color-dark);
    }
    p {
      font-size: 0.8em;
      font-weight: 400;
      letter-spacing: 0em;
      color: var(--ion-color-medium);
    }
  }
}
