<app-header title="2ª Via de Boleto" [showBack]="true" *ngIf="!shared.web"></app-header>

<ion-content [ngClass]="{web: shared.web}">
  <app-header-web *ngIf="shared.web" title="2ª Via de Boleto"></app-header-web>
  <app-container-with-menu type="financial" description="Veja aqui todas as soluções ligadas a parte financeira do seu negócio.">
    <app-section-invoices title="Boletos de Pagamento" label="Nº do documento" type="payment-slip"> </app-section-invoices>
  </app-container-with-menu>
</ion-content>
