ion-content {
  &.web {
    --padding-top: 0 !important;
  }

  .debts-alert {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    background: var(--ion-color-danger);
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    p {
      font-weight: bold;
      color: white;
      font-size: 0.84em;
    }
  }

  section {
    margin-top: 2em;
  }

  .meu-negocio {
    width: calc(100% - 2em);
    margin-left: 1em;
    background-color: white;
    border: 1px solid red;
    border-radius: 13px;
  }
}
