ion-content {
  .tarja {
    background-color: var(--ion-color-primary);
    padding: 4px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    p {
      font-weight: bold;
      color: white;
      font-size: 0.85em;
      text-align: center;
    }
    &.success {
      background-color: var(--ion-color-success);
    }
  }
  ion-button.add-more-items {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  p.empty-message {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
  }
}
